html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------------------*/

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*---------------------------------*/

body{
    font-family: 'Verdana','Microsoft JhengHei','PingFangSC-Regular', 'sans-serif';
    background: #83c8dd;
}
.card-body{
    border-radius: .5rem;
}
.bg-light{
    opacity: 0.8;
}
h2{
    letter-spacing: .1rem;
}
input{
	border: none;
}
.text{
	width: 23em;
    letter-spacing: .1rem;
    border-bottom: 2px solid #8b8b8b;
    background: transparent;
    outline:none;
}
ul{
	border-top: none;
	letter-spacing: .1rem;
	
}
.list > li{
	border-left: 5px solid #ff0000;
	background: #ffc1c1;
	padding: 1rem;	
	margin-bottom: 1rem;
}

